<h1>めうめう語ジェネレーター</h1>
<h1>meumeu lang generater show</h1>

<%= form_tag("/meugene/show") do %>  <%#:url => {:action => '/meugene/show'} do |f| %>

<p>
<%#= f.label :input_text, "input" %>
<%#= f.text_field :input_text %>
<%= label_tag(:input_text) %>
<%= text_field_tag(:input_text) %>
<%= submit_tag("convert") %>
</p>

<p>
<%#= f.submit %>
</p>

<% end %>

<%= if @meu_text %>
  <p><<%= @meu_text %></p>
<% end %>

